<div class="flip-container" [style.width.px]="width()" [style.height.px]="height()">
    <div class="flipper" [class.flip]="isFlipped()">
        <div class="front-card card" (click)="toggleFlip()">
            <div class="card-image">
                <div class="header-front"><div class="edge"></div></div>                
                @if (frontText()) {
                    <span class="card-title">{{ frontText() }}</span>
                }
            </div>
        </div>
        <div class="back-card card" (click)="toggleFlip()">
            <div class="card-image">
                <div class="header-back"><div class="edge"></div></div>
                @if (backText()) {
                    <span class="card-title">{{ backText() }}</span>
                }
            </div>
        </div>
    </div>
</div>
